@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Poppins&display=swap");
@import url("https://fonts.maateen.me/solaiman-lipi/font.css");
body {
    font-family: "Inter";
    font-weight: 500;
}

h1 {
    font-family: "Gugi", cursive;
    font-family: "Gugi", cursive;
}

.text-in {
    font-family: "Poppins";
}

h2 {
    font-family: "poppins";
}

.nav-link {
    color: black;
    font-size: 1rem;
}

.container {
    margin-bottom: 100px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.banner-bg {
    background-color: #fecae8;
}

.container {
    margin-bottom: 100px;
}

.carousel {
    position: relative;
}

.buy-now-button {
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}

.cat1 {
    background-image: linear-gradient(45deg, cyan, blue);
    padding: 20px 30px;
    border-radius: 10px;
}

.cat2 {
    background-image: linear-gradient(45deg,deeppink,tomato);
    padding: 20px 30px;
    border-radius: 10px;
}

.cat1,
.cat2,
.cat3 h1 {
    color: white;
}

.categories img {
    width: 120px;
}

.card {
    border: none;
    border-radius: 10px;
}

.card-footer {
    background-color: white;
    border-top: none;
}

.card-footer:last-child {
    border-radius: 10px;
}

.tracking-text {
    font-family: "SolaimanLipi", sans-serif;
}

#contact {
    height: 300px;
}

@media (max-width: 667px) {
    .mobile {
        padding: 20px 30px;
        margin-top: -1%;
    }
    #contact {
        height: 300px;
    }
    .mobile-card {
        margin-top: 20px;
    }
    .input-group-text {
        width: 100%;
    }
    .tracking-text {
        margin-top: -5%;
    }
    .second-b {
        margin-top: -8%;
    }
    .b-text {
        margin-top: 2%;
    }

    .carousel-item img{
        height: auto;
        width: 100%;
    }
}

.card-header .fa {
    transition: 0.3s transform ease-in-out;
}

.card-header .collapsed .fa {
    transform: rotate(90deg);
}

.card {
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.05);
}


.login-btn:hover{
    background: #dc3545 ;
    color: #fff !important;
}
.login-btn{
    color: #dc3545  !important;
}
/* #17a2b8 */

.login-btn1:hover
{
    background: #33383b !important;
    color: white !important;
}

.login-btn1{
    color: #292c2f !important;
}

footer {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
    bottom: 0;
    color: #fff
}

.footer-navigation h3 {
    margin: 0;
    font: normal 36px Cookie, cursive;
    margin-bottom: 20px;
    color: #fff
}

.footer-navigation h3 a {
    text-decoration: none;
    color: #fff
}

.footer-navigation h3 span {
    color: #5383d3
}

.footer-navigation p.links a {
    color: #fff;
    text-decoration: none
}

.footer-navigation p.company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin-top: 20px
}

@media (max-width:767px) {
    .footer-contacts {
        margin: 30px 0
    }
}

.footer-contacts p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle
}

.footer-contacts p a {
    color: #5383d3;
    text-decoration: none
}

.fa.footer-contacts-icon {
    background-color: #33383b;
    color: #fff;
    font-size: 18px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    margin: 10px 15px 10px 0
}

span.new-line-span {
    display: block;
    font-weight: normal;
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2
}

.footer-about h4 {
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px
}

.footer-about p {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0
}

div.social-links {
    margin-top: 20px;
    color: #fff
}

.social-links a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 5px;
    margin-bottom: 5px
}
.logo-color
{
    color: #990100 !important;
}
.picture
{
    height: 800px;
    width: 1500px;
}


