@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.maateen.me/solaiman-lipi/font.css');

body
{
    font-family:-apple-system;
    
}

.nav-link{
    color: black;
    font-size: 1rem;

}

.container
{
    margin-bottom: 100px;
}
.dropdown:hover .dropdown-menu
{
    display: block;
}
.dropdown-item
{
    background-image: url("./logo.png");
}

/* .carousel-item
{
    padding: 50px 80px;
} */
.banner-bg
{
    background-color: #fecae8;
}


.container
{
    margin-bottom: 100px;
}


.carousel
{
    position: relative;
}


.buy-now-button
{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}

 .cat1
{   
    background-image: linear-gradient(65deg,#4168FD,#4030FA);
    padding: 20px 30px;
    border-radius: 10px;
}

.cat2
{
    background-image: linear-gradient(66deg,tomato,deeppink);
    padding: 20px 30px;
    border-radius: 10px;
}

.cat1,.cat2,.cat3 h1
{
    color: white;
}

.categories img
{
    width: 120px;
}
.card
{
    border: none;
    border-radius: 10px;
}
.card-footer
{
    background-color: white;
    border-top:none ;
}

.card-footer:last-child{
    border-radius: 10px;
}

.tracking-text
{
    font-family: 'SolaimanLipi', sans-serif;

}
#contact
{
    height: 300px;
}


@media (max-width:667px) {
    .mobile
    {
        padding: 10px 20px;
        margin-top: -2%;
    }
    #contact
    {
        height: 300px;
    }
} 



.card-header .fa {
    transition: .3s transform ease-in-out;
  }
  .card-header .collapsed .fa {
    transform: rotate(90deg);
  }
  

/* background-image: linear-gradient(rgb(255, 98, 91), rgb(197, 50, 173), rgb(77, 62, 194)) */